#cover-photo-div {
    width: 75vw;
    height: 35vh;
    overflow: hidden;
    text-align: center;
}

#cover-photo {
    text-align: center;
    width: 1000px;
}

.centered {
    text-align: center;
}
