html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}
/* sidebar */
.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/* end of sidebar */

.Profile {
  /* background-image: url(./image/profile.png); */
  /* height: 240px;
  weight: 240px; */
  background-size: 300px;

}

.first-row{
  width: 1100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.first-column {
    width: 10%;
    padding: 0 10px 0 0;
    float: left;
    background-color: #ededed;
}

.second-column {
    width: 43%;
    padding: 0 10px 0 0;
    float: right;
    background-color: #ededee;
}

@media only screen and (max-width: 800px) {
   .first-column {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }
    .second-column {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }
}

.Main{
  width: 85%;
  height: 85%;
}
